* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.title {
  font-family: "Playfair Display", serif;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.main::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: -webkit-gradient(linear, left bottom, left top, from(#0a2a43), to(transparent));
  background: linear-gradient(to top, #0a2a43, transparent);
  z-index: 100;
}

header.main::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #0a2a43;
  mix-blend-mode: color;
  z-index: 100;
}

header.main source,
header.main img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}

header.main h1 {
  z-index: 1;
  position: relative;
  color: #fff;
  font-size: 10rem;
}

.road {
  z-index: 2;
}

.planetSection {
  background-color: #f1f0ee;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15%;
}

.planetSection.left .article {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.planetSection.left .picture {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1px;
          order: 1px;
}

.article {
  width: 50%;
  padding: 0 10%;
}

.article .quote {
  width: 8%;
  height: 8%;
  margin: 0 0 -5% -10%;
}

.article h2 {
  font-size: 4rem;
  color: #2279aa;
  font-weight: 800;
}

.article p {
  margin: 1rem 0;
  color: #2279aa;
  text-align: justify;
  font-size: 0.9rem;
}

.article .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article .number p {
  padding: 10%;
  font-size: 3rem;
  color: #738183;
  font-family: "Karla", sans-serif;
}

.article .number .km {
  font-size: 1.5rem;
  line-height: 4rem;
}

.picture {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.picture .planet {
  width: 50%;
  height: 50%;
  z-index: 2;
}

.picture .planetBackground {
  width: 70%;
  height: 70%;
  margin-left: -20%;
}

nav {
  position: relative;
}

nav .planetLine {
  position: absolute;
  background: #fff;
  height: 10vh;
  border-radius: 20px;
  width: 70%;
  z-index: 1000;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 10vh;
  left: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 8fr;
      grid-template-columns: 2fr 8fr;
}

.planetLineTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.planetLineTitle p {
  color: #2279aa;
  font-size: 1.5rem;
}

.planetLinePlace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.line {
  width: 95%;
  height: 5%;
  background-color: #eeefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #eeefef;
  position: relative;
}

.circle source,
.circle img {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.circle.sun source,
.circle.sun img {
  display: block;
  max-width: 100px;
  max-height: 100px;
}

.circle.active:not(.sun) source,
.circle.active:not(.sun) img,
.circle:hover:not(.sun) source,
.circle:hover:not(.sun) img {
  display: block;
  max-width: 300%;
  max-height: 300%;
}

.line .saturn.active source,
.line .saturn.active img,
.line .saturn:hover source,
.line .saturn:hover img {
  display: block;
  max-width: 430%;
  max-height: 430%;
}

nav.lock .planetLine {
  position: fixed;
}

.MercurySection .picture .Mercury {
  position: relative;
  left: 10%;
}

.VenusSection .picture .VenusBackground {
  position: relative;
  left: 20%;
  top: 5vh;
  width: 70%;
  height: 70%;
}

.VenusSection .picture .Venus {
  position: relative;
  width: 50%;
  height: 50%;
  top: -5vh;
  left: -10%;
}

.EarthSection .picture .Earth {
  position: relative;
  width: 60%;
  height: 60%;
  top: -5vh;
  left: 10%;
}

.MarsSection .picture .MarsBackground {
  position: relative;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  left: 10%;
}

.MarsSection .picture .Mars {
  position: relative;
  top: 10vh;
  left: -20%;
}

.JupiterSection .picture .JupiterBackground {
  position: relative;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  width: 55%;
  height: 55%;
  left: -50%;
  top: -5vh;
}

.JupiterSection .picture .Jupiter {
  position: relative;
  width: 100%;
  height: 100%;
  top: 5vh;
  left: -20%;
}

.SaturnSection .picture .SaturnBackground {
  position: relative;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  left: 10%;
  width: 70%;
  height: 70%;
}

.SaturnSection .picture .Saturn {
  position: relative;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  top: 10vh;
  left: -40%;
  width: 100%;
  height: 100%;
}

.UranusSection .picture .UranusBackground {
  position: relative;
  top: -10vh;
}

.UranusSection .picture .Uranus {
  position: relative;
  left: 10%;
}

.NeptuneSection .picture .NeptuneBackground {
  position: relative;
  left: 20%;
  width: 55%;
  height: 55%;
}

.NeptuneSection .picture .Neptune {
  position: relative;
  top: 13vh;
  left: -10%;
  width: 50%;
  height: 50%;
}
/*# sourceMappingURL=all.css.map */